

<!DOCTYPE html>
<html>


<head>
        <title>Samsung A71</title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <script src="/js/india/element.js"></script>

</head>
<body>


        
        <div class="nav">
                <a href="/templates/india.html"><img class="back" src="https://img.icons8.com/fluent/48/000000/back.png"/></a>

        </div>
        <p class="search-results">Search results</p>


        <div id="box1" class="box"></div>
        <div id="box2" class="box"></div>
        <div id="box3" class="box"></div>
        <div id="box4" class="box"></div>
        <div id="box5" class="box"></div>
        <div id="box6" class="box"></div>
        <div id="box7" class="box"></div>
        <div id="box8" class="box"></div>
        <div id="box9" class="box"></div>
        <div id="box10" class="box"></div>
        <div id="box11" class="box"></div>
        <div id="box12" class="box"></div>
        <div id="box13" class="box"></div>
        <div id="box14" class="box"></div>
        <div id="box15" class="box"></div>

      
        <script >


var i =1;
for (i=1 ; i<16; i++){
        elementJS(i);
}



fetch('/json/india/amazon_in.json')
  .then(res => res.json())
  .then((json) => {


     phoneData(1, 38 , json , "a" ,  34999 , "Samsung A71 (Blue, 128 GB)" , "https://images-na.ssl-images-amazon.com/images/I/71qI1h%2B05qL._SL1500_.jpg");
     phoneData(2, 39 , json , "a" ,  0 , "Samsung A71 (Black, 128 GB)" , "");
     phoneData(3, 3 , json , "a" ,  0 , "Samsung (,  GB)" , "");
     phoneData(4, 4 , json , "a" ,  0 , "Samsung (,  GB)" , "");
     phoneData(5, 5 , json , "a" ,  0 , "Samsung (,  GB)" , "");
     phoneData(6, 6 , json , "a" ,  0 , "Samsung (,  GB)" , "");   
    


     
  })

  fetch('/json/india/flipkart.json')
  .then(res => res.json())
  .then((json) => {

      phoneData(8, 67 , json , "f" ,  34999 , "Samsung A71 (Blue, 128 GB)" , "https://rukminim1.flixcart.com/image/416/416/k6fd47k0/mobile/t/a/u/samsung-galaxy-a71-sm-a715fzbwins-original-imafzvtqvz7vtgzs.jpeg?q=70");
      phoneData(9, 68 , json , "f" ,  34999 , "Samsung A71 (Black, 128 GB)" , "https://rukminim1.flixcart.com/image/416/416/k6fd47k0/mobile/k/c/f/samsung-galaxy-a71-sm-a715fzkwins-original-imafzvtqrqqwz8zd.jpeg?q=70");
      phoneData(10, 2 , json , "f" ,  0 , "Samsung A71 (,  GB)" , "");
      phoneData(11, 3 , json , "f" ,  0 , "Samsung (,  GB)" , "");
      phoneData(12, 4 , json , "f" ,  0 , "Samsung (,  GB)" , "");
      phoneData(13, 5 , json , "f" ,  0 , "Samsung (,  GB)" , "");
        
  

        

  })  
       
                









        </script>

        <script src="/js/main.js"></script>
        

</body>
</html>






