

.nav{
	background-color: black;
	padding-bottom: 30px; 
}

.nav a{
	color: white;
}


.flipkart{
	margin-top: 30px;
	margin-left: 80px;
	width: 200px;
}

.amazon{
	margin-top: 10px;
	margin-left: 80px;
}

.box{
	position: relative;
	border:1px solid orange;
	border-radius: 10px;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 5px;
	width: 400px;
	height: 170px;
	background-color: rgb(255,250,250);
	font-size: 15px;
}

.img-box{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 170px;
  border-right: 0.2px solid black ;
  padding-right: 20px;
  
}

.phone-img{
	margin-top: 5px;
	width: 130px;

} 

.link-txt{
	position: absolute;
	top: 10px;
	right: 30px;
}

.price{
	position: absolute;
	top: 30px;
	left: 160px;
}

.normal-price{
	position: absolute;
	top: 70px;
	left: 390px;
	font-size: 30px;
}

.discount{
	position: absolute;
	top: 130px;
	left: 390px;
	font-size: 30px;
}

.link-button{
	position: absolute;
	bottom: 25px;
	right: 30px;
	padding: 8px 5px;
	background-color: orange;
	color: white;
	
}

.link-button a{
	 text-decoration: none;
	 color: white;
	 padding: 5px;
	 font-size: 15px;
}

#se-red{
	margin-top: -5px;
	
}


.test{
	display: none;
}















@media screen and (min-width: 400px) {
	.box {
		width: 750px;
		height: 230px;
		margin-left: 100px;
		
	}

	.img-box{
	  width: 200px;
	  height: 230px;
	}

	.phone-img{
		margin-top: 30px;
		margin-left: 20px;
		width: 190px;
	} 

	.link-txt{
		font-size: 35px;
		top: 10px;
		left: 240px;
	}

	.price{
		font-size: 35px;
		top: 50px;
		left: 260px;
	}

	.link-button{
		position: absolute;
		bottom: 25px;
		right: 30px;
		padding: 10px 6px;
		
		
	}

	.link-button a{
	 padding: 5px;
	 font-size: 30px;
    }
	
}